body {
    background-color: #201b28;
    color: #b9b9ce;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-top: 0;
}

.main {
    width: 40%;
    margin: auto;
    padding: 20px;
    background-color: #090a16;
}

.syntax {
    font-family: 'Courier New', Courier, monospace;
    background-color: #241f2b;
    padding: 4px;
    border-radius: 4px;
}